/*resetting everything*/
*, html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

:root {
	font-size: 14px;
}

body {
	max-width: 1000px;
	margin: 0 auto;
}

#head {
	width: 95%;
	margin: 0 auto;
}

#head .main-head {
	font-size: 3rem;
	line-height: 4rem;
	width: 100%;
	margin-top: 20px;
}

#head-summary .head-para {
	font-weight: 500;
	font-family: Georgia, 'Times New Roman', Times, serif;
	width: 55%;
	letter-spacing: -0.05em;
	word-spacing: 0.5rem;
	line-height: 1.2rem;

}

#main-container {
	width: 95%;
	margin: 0 auto;
}

#image-div > img {
	width: 100%;
	padding-top: 30px;
}

#shortcut-menu {
	width: 25%;
	float: right;
	border-radius: 0.8em;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
	margin-top: 20px;
	margin-right: 10px;
}

#shortcut-menu > div {
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#shortcut-menu #sym1 > .yellow {
	color: #F2994A;
}

#shortcut-menu div > .small {
	font-size: 0.7rem;
	color: #4e4b4b;
} 

#shortcut-menu div > img {
	float: left;
	margin-right: 10px;
}

.ingradients-head {
	line-height: 2rem;
}

#sec-ingradients, #instructions-sec {
	width: 70%;
	margin-left: 10px;
}

#sec-ingradients, .ingradients-first, .ingradients-second{
	margin-top: 20px;
	line-height: 2rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif
	;
	margin-bottom: 10px;
}
form > input {
	margin-right: 10px;
}
form > label {
	display: inline-block;
	margin-top: 10px;
	letter-spacing: -0.05em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2rem;
	font-size: 1rem;
}

#instructions-heading {
	margin: 20px 0px;
} 

#instructions-sec > p {
	margin-bottom: 30px;
	font-family: cursive, 'Arial Narrow', Arial, sans-serif;
	line-height: 1.3rem;
	letter-spacing: -0.02em;
}

#instructions-sec > div {
	width: 25px;
	height: 25px;
	color: #fff;
	float: left;
	margin-right: 10px;
	text-align: center;
	background-color: #F2994A;
	border-radius: 5px;
	padding-top: 5px;
	font-family: monospace;
	font-weight: 200;
}

#sec-link > p {
	font-family: monospace;
	color: #bdbdbd;
	letter-spacing: -0.08em;
	line-height: 150%;
}

#footer {
	width: 95%;
	margin: 0 auto;
}

#footer > p, a {
	font-family: cursive;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 30px;
	color: #828282;
	letter-spacing: -0.05em;
	font-weight: 300;
}

@media only screen and (max-width: 665px) {
	#shortcut-menu {
		float: left;
		display: inline-flex;
		width: 100%;
		margin: 0;
		box-shadow: none;
	}
	#head > .main-head{
		font-size: 1.8rem;
		width: 100%;
	}
	#head-summary .head-para {
		width: 100%;
	}
	#sec-ingradients, #instructions-sec {
		width: 100%;
	}
	aside > div > p {
		font-size: 0.7rem;
	}
}

